@import "./bs-colors";

$font-weight-base: 500;

$body-color: #414141;

$headings-margin-bottom: 0;
$headings-font-weight: 700;

$paragraph-margin-bottom: 0;

$input-padding-y-lg: 1rem;
$input-font-size-sm: .75rem;
$input-font-size: .865rem;
$input-font-size-lg: 1rem;
$input-placeholder-color: #A5AEB1;

$form-select-padding-y-lg: 1rem;
$form-select-font-size-sm: .75rem;
$form-select-font-size: .865rem;
$form-select-font-size-lg: 1rem;

$link-color: #9C9C9C;
$link-decoration: none;

$enable-caret: false;